h2 {
    margin-bottom: 5px;
    color:var(--white);
}

#user-info {
    position: relative;
    background: rgb(80,39,121);
    background: radial-gradient(circle, rgba(80,39,121,1) 0%, rgba(80,39,121,1) 34%, rgba(80,39,121,1) 40%, rgba(80,39,121,1) 79%);
    padding: 1rem;
    padding-left: 20px;
    border-radius: 15px;
    color: var(--white);
    width: 38vw;
    height: 210px;
    position: relative;
    margin-top: 0.5rem;
    z-index: 1500;
}

#user-info > p {
    text-align: left;
    margin-bottom: 0.25rem;
    margin-top: 1.5rem;
}

#hide {
    vertical-align: middle;
    margin-left: 0.5rem;
    cursor: pointer;
}

/* buttons container */
#depo-with {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    /* bottom: 2px; */
    margin-top: 1rem;
    z-index: 1500;
}

/* buttons */
#deposit, #withdraw, #transfer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--eerie_black_light);
    color: var(--white);
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    
}

#input-container  {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 1rem;
    background-color: var(--eerie_black_light);
    padding: 2rem;
    color: whitesmoke;
    border-radius: 15px;
    height: 300px;
    box-shadow: 1px 1px 5px #707070;
    z-index: 1000;
}
#input-label {
    font-size: 2rem;
}

#transfer-container {
    position: relative;
    display:none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    background-color: whitesmoke; 
    padding: 2rem;
    color: #707070;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #707070;
    z-index: 1000;
}

#amount-input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #424242;
    border-radius: 5px;
    background-color: var(--eerie_black_dark);
    color: var(--white);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#depo-img, #withdraw-img, #transfer-img {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

#close-button {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    border: none; 
    background: transparent; 
    cursor: pointer; 
    width: 1rem;
}

#transfer-user {
    background: rgb(80,39,121);
    color: whitesmoke;
    margin-left: 5px;
    padding: 8px;
    width: 200px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

option {
    background-color: var(--eerie_black_light);
}

#submit-img {
cursor: pointer;
width: 24px;
height: auto;
}

