h2 {
    margin-bottom: 10px;
    color:var(--white);
}

#user-info {
    position: relative;
    background: rgb(78,49,170);
    background: radial-gradient(circle, rgba(78,49,170,1) 0%, rgba(58,16,120,1) 0%);
    padding: 1rem;
    border-radius: 15px;
    color: whitesmoke;
    width: 45vw;
    height: 210px;
}

#user-info > p {
    text-align: left;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

#email-holder {
    font-size: 1rem;
    margin-bottom: 1rem;
}

#balance {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#hide {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}

/* buttons container */
#depo-with {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    /* bottom: 2px; */
    margin-top: 1rem;
}

/* buttons */
#deposit, #withdraw, #transfer, #logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--eerie_black_light);
    color: var(--white);
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    
}

#input-container  {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 1rem;
    background-color: var(--eerie_black_light);
    padding: 2rem;
    color: #707070;
    border-radius: 15px;
    height: 300px;
    box-shadow: 1px 1px 5px #707070;
    z-index: 1000;
}
#input-label {
    font-size: 2rem;
}

#transfer-container {
    position: relative;
    display:none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    background-color: whitesmoke; 
    padding: 2rem;
    color: #707070;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #707070;
    z-index: 1000;
}

#amount-input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #424242;
    border-radius: 5px;
    background-color: var(--eerie_black_dark);
    color: var(--white);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#depo-img, #withdraw-img, #transfer-img {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

#close-button {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    border: none; 
    background: transparent; 
    cursor: pointer; 
    width: 1rem;
}

#transfer-from-balance {
    height: auto;
    font-size: 1.5rem;
    color:#707070;
    padding-left: 0.5rem;
    width: 50%;
}

