.budgetWindow {
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    margin-left: -30px;
    gap: 1rem;
    width: 100%;
    margin-top:0;
}
#budgetTracker{
    font-size: 30px;
    margin-top: 15px;
    margin-left: -65px;
}

.budget-display-container {
    background-color: var(--eerie_black_light);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-left: 10px;
    color: var(--white);
    /* margin-top: 1rem; */
    /* margin-bottom: 8px; */
    /* width: 28%; */
    width: 350px;
    height: 70%;
    padding-bottom: 1rem;
}


.budget-amount, .expenses-amount, .remaining-amount {
    font-size: 29px;
}

.edit-square {
    width: 20px;
    margin-left: 11px;
    font-size: 20px;
}

.edit-square:hover {
    cursor: pointer;
}


.budget-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 20px;
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.budget-container > p{
    margin: 8px;
}

.totalBudgetHeader, .totalExpensesHeader , .totalRemainingHeader {
    font-size: 18px;
}
.initial-budget-amount {
    color: var(--yellow);
}

.add-expenses {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight:bold;
}


.expense-form {
    background-color: var(--eerie_black_light);
    color: var(--white);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 6rem;
    margin-left: 33.5rem;
    padding-bottom: 0;
    align-items: flex-start;
    justify-content: flex-start;
    width: 24%;
}

.expense-form > input{
    width: 80%;
    border: 0.5px solid var(--white);
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    margin-left: 10px;
}

.addBtn {
    margin-top: 15px;
    font-size: 20px;
    color: var(--white);
    background: rgb(78,49,170);
    background: radial-gradient(circle, rgba(78,49,170,1) 0%, rgba(58,16,120,1) 0%);
    border: transparent;
    padding: 10px;
    width:80%;
    margin-left: 30px;
    border-radius: 10px;
}

.addBtn:hover {
 cursor: pointer;
}

.expense-item{
    display: flex;
    margin: 3px;
    background-color: var(--eerie_black_dark);
    border-radius: 10px;
    padding: 10px;
}

.expense-icon{
    margin-top: 5px;
    margin-left:1rem;
    margin-bottom: 0.05rem;
    font-size: 23px;
    color: var(--pink);
}

  /* Update Budget Modal CSS */
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(25 25 25 / 70%); 
    z-index: 20;
}

.update-budget {
    display: flex;
    flex-direction: flex-start;
    font-size: 20px;
    font-weight: 500;
}

.update-budget-container {
    color: var(--white);
    background-color: var(--eerie_black_dark);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 22.5%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border: 1px solid var(--purple);
    /* margin-top: 8rem;
    margin-left: 11.5rem; */
    height: 40%;
}

.update-budget-input {
    margin-top: 15px;
}

#budgetInput {
    margin-top: 7px;
    margin-bottom:8px;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    width: 100%;
    padding-left:5px;
    border: var(--gray);
    background-color: var(--eerie_black_light);
    color: var(--white);
    border-radius: 10px;
}

.input-css {
    margin-top:8px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    padding-left:5px;
    border: 0.5px solid var(--white);
    background-color: var(--eerie_black_light);
    color: var(--white);
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}

#expense-category {
    width: 80%;
    color: var(--white);
}
.option-css {
    padding-bottom: 7px;
    font-size: 15px;
}
.modalBtn{
    margin-top: 8px;
    display: flex;
    gap:10px;
}

.cancel-budget{
    padding: 10px;
    border-radius: 7px;
    border: transparent;
    width:30%;
    color: #707070;
    font-size: 15px;
}

.save-budget {
    color: #FFFFFF;
    background: rgb(78,49,170);
    background: radial-gradient(circle, rgba(78,49,170,1) 0%, rgba(58,16,120,1) 0%);    padding: 10px;
    border-radius: 7px;
    border: transparent;
    width:30%;
    font-size: 15px;
}


.errorMessage{
    margin-left: 12px;
    color: var(--red);
    font-size: 12px;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.expense-form-container{
    position: fixed;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    background-color: var(--eerie_black_light);
    z-index: 1;
}

.cancel-expense-btn{
    padding: 10px;
    border-radius: 7px;
    border: transparent;
    width:60%;
    color: #707070;
}

.form-button-container{
    display: flex; 
    padding-bottom: 1rem;
    width: 100%;
}

.save-expense-btn{
    background: rgb(78,49,170);
    background: radial-gradient(circle, rgba(78,49,170,1) 0%, rgba(58,16,120,1) 0%);
    color: var(--white);
    padding: 10px;
    border-radius: 7px;
    border: transparent;
    margin-left: 1rem;
}

.cancel-expense-btn,.save-expense-btn{
    font-size: 15px;
    margin-top:11px;
    width:100%;
}

.expenses-notebook{
    background-color: var(--eerie_black_light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 30px;
    padding-left: 20px;
    color: var(--white);
    /* width: 30%; */
    width: 400px;
    overflow: auto;
    height: 70%;
    /* margin: 18px;
    margin-left: 22px; */
}

   


.header-expenses-notebook{
    text-align: left;
    padding-left: 1rem;
    font-size: 30px;
    padding-top: 0px;
    margin-top: 7px;
    padding-bottom: 10px;  
    color: var(--white);
}

.no-expenses-added{
    padding-left: 12px;
    margin: 10px;
    margin-left: 8px;
}
.expense-book-list {
    margin: 3px;
    margin-top: 10px;
    padding-left: 12px;
    font-size: 18px;
    font-weight: 400;
}

.ruler {
    color: #707070;
    margin-left: 5px;
}

.delete-icon {
    display: flex;
    width: 14px;
    height: 14px;
    margin-left: 8px;
    text-align: right;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 13px;
}

.negative-amount {
    color: rgb(248, 65, 65);
}
.positive-amount {
    color: green;
}

#graph {
    /* margin-left: 8px;
    margin-top: 15px; */
    background-color: var(--eerie_black_light);
    border-radius: 10px;
    width: 400px;
    padding: 15px;
    padding-left: 40px;
    height: 70.5%;
    padding-bottom: 50px;
}

#yourKamoteBudget{
 color: var(--pink);
 font-weight: 300;
 font-size: 25px;
 margin-top: 20px;

}

#sweetPotatoIcon{
width: 35px;
vertical-align: middle;
}