#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--eerie_black_light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 15px;
    color: var(--white);
    /* width: 45vw;  */
    width: 120px;
    /* max-width: 1200px;  */
    height: 100%; /* Allow height to adjust to content */
}

#send-money, #manage-accounts, #add-user, #budget, #buy-load, #pay-bills, #logout, #dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    gap: 5px;
}

p{ 
    text-align: center;
}

#send-money > img {
    width: 38px;
    height: auto;
}

#manage-accounts > img {
    width: 38px;
    height: auto;
}
#add-user > img {
    width: 38px;
    height: auto;
}

#budget > img {
    width: 38px;
    height: auto;
}

#buy-load > img {
    width: 38px;
    height: auto;
}

#pay-bills > img {
    width: 38px;
    height: auto;
}

#close-button {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    border: none; 
    background: transparent; 
    cursor: pointer; 
    width: 1rem;
}

.dashboard {
    size: 2rem;
    color: #707070;
}