
#form-container {   
    display: flex;
    justify-content: center;
    flex-direction: column; /* Ensure vertical stacking */
    align-items: center;
    height: auto; /* Set to auto to allow for dynamic content height */
    width: 45vw; 
    background-color: var(--eerie_black_light);
    border-radius: 15px;
    padding: 15px; /* Adjust as necessary */
    z-index: 1; /* Ensure it stacks above the background */
    margin-bottom: 12px;
}

.input-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    padding: 10px; 
    border: 1px solid #424242;
    border-radius: 5px;
    background-color: var(--eerie_black_dark);
    color: var(--white);
    /* margin: 0; */
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submit {
    background: rgb(78,49,170);
    background: radial-gradient(circle, rgba(78,49,170,1) 0%, rgba(58,16,120,1) 0%);
    color: whitesmoke; 
    padding: 5px 15px; 
    border-radius: 5px; 
    width: fit-content; 
    cursor: pointer; 
    margin: 0.5rem;
    border: none; 
}
 #cancel {
    background-color: var(--eerie_black_dark);
    color: var(--white); 
    padding: 5px 15px; 
    border-radius: 5px; 
    width: fit-content; 
    cursor: pointer; 
    margin: 0.5rem;
    border: none; 
    font-size: 13px;
}

