#accounts-container {
    text-align: center;
    height: auto; 
    width: 45vw; 
    background-color: var(--eerie_black_light);
    border-radius: 15px;
    padding: 1rem; /* Adjust as necessary */
    z-index: 1; /* Ensure it stacks above the background */
    margin: 0.5rem;
}

#userlist {
    color: var(--white);
    font-size: 20px;
    margin-top: 1rem;
    overflow-y: auto; 
    max-height: 125px; 
    background-color:  var(--eerie_black_light);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.user-entry {
    display: flex; 
    align-items: center; 
    margin: 0; 
}

.avatar {
    width: 32px;
    height: 32px; 
    margin-right: 10px; 
}

.user-name {
    list-style-type: none; 
    cursor: pointer;
}

#close-accts-button {
    float: inline-end;
    cursor: pointer; 
    width: 1rem;
}
