.App {
  display: flex;
  flex-direction: row;
  background-color: var(--eerie_black_dark);
  height: 100%;
  padding: 5px;
  width: 100vw;
  background-image: url("../src/assets/kamoteBg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#menu-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  /* gap: 0.25rem; */
  height: 95vh;
}

#user-card-wrapper {
  display:flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 15px;
  margin-top: 8px;
}

#history-wrapper {
  margin-top: 15px;
  margin-left: 15px;
}

/* Full-screen overlay for login */
.login-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 100%; 
  background-color:var(--eerie_black_dark);
  font-family: "Roboto", serif;
}

