.App {
  display: flex;
  gap: 1rem;
  background-color: var(--eerie_black_dark);
  height: 100%;
  /* background-image: url("../src/assets/kamoteBg.jpg"); */
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* #menu-wrapper {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
} */

#user-card-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#history-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

}

/* Full-screen overlay for login */
.login-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 100%; 
  background-color:var(--eerie_black_dark);
  font-family: "Roboto", serif;
}

#budget-wrapper {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  gap: 1rem;
}

