* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--eerie_black_dark);
  overflow-x: hidden;
  max-height: 680px;
  max-width: 1200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --eerie_black_dark: #1f1f1f;
  --eerie_black_light: #252525;
  --gray: #8A8A8A;
  --green: #00BF63;
  --red: #F85050;
  --white: whitesmoke;
  --purple: #502779;
  --purpureus: #AD53A6;
  --pink: #F9AAD0;
  --yellow: #f0f358;
}

 /* width */
 ::-webkit-scrollbar {
  width: 7px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--eerie_black_light);
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F8F8F9; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F8F8F9; 
}