.buyLoad-container {
    text-align: center;
    padding-top: 0;
    padding: 15px; 
    border-radius: 15px; 
    height: auto;
    background-color: var(--eerie_black_light);
    color: var(--white);
    position: relative;
    width: 45vw;
    margin-top: 0.5rem;
    height: 56%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: stretch;
    /* gap: 10px; */
}

.buyLoad-header {
    font-size: 1.2em;
    display: inline;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    margin: 0;
    cursor: pointer;
}

.network-dropdown{
    margin-top: 10px;
}

.telco-option-css, .input-css-load {
    background: rgb(80,39,121);
    color: whitesmoke;
    margin-top: 5px;
    padding: 8px;
    width: 200px;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;

}

#amountLoad{
    background-color: var(--eerie_black_light);
    color:var(--white);
}

.telco-option-css, #buyLoadFor {
    width: 70%;
    margin-bottom: 10px;
}

.errorMessageBuyLoad{
    color: var(--red);
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}
.payLoad {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: rgb(80,39,121);
    color: whitesmoke;
    padding: 8px;
    width: 85%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

.payImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: auto;
    cursor: pointer;
    margin-left: -15px;
    margin-top: 4px;
}

.buyLoadForText, .selectTelcoText {
    padding-left: 18px;
    text-align: left;
    margin-bottom: 3px;
}